API_LOG_LEVEL=info
NEXT_PUBLIC_SITE_NAME=
GOOGLE_AUTH_CLIENT_SECRET=
NEXT_PUBLIC_GOOGLE_AUTH_CLIENT_ID=
GOOGLE_MAIL_USER=
GOOGLE_MAIL_PASS=
MAILHOG_HOST=localhost
MAILHOG_PORT=1025
SUPABASE_PUBLIC_STORAGE_BUCKET=public_file_storage
SUPABASE_PRIVATE_STORAGE_BUCKET=private_file_storage
NEXT_PUBLIC_WEB_PUSH_PUBLIC_KEY=
WEB_PUSH_PRIVATE_KEY=
CRON_API_KEY=

# developement envs
NODE_ENV=development
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=
DATABASE_URL="postgresql://postgres:postgres@localhost:54322/postgres"
REDIS_REST_URL="http://localhost:8079"
REDIS_REST_TOKEN="local_redis_token"
MAIL_FROM=
SUPPORT_MAIL=
NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SECRET_KEY=
QSTASH_URL="http://127.0.0.1:8080"
QSTASH_TOKEN="eyJVc2VySUQiOiJkZWZhdWx0VXNlciIsIlBhc3N3b3JkIjoiZGVmYXVsdFBhc3N3b3JkIn0="
QSTASH_CURRENT_SIGNING_KEY="sig_7kYjw48mhY7kAjqNGcy6cr29RJ6r"
QSTASH_NEXT_SIGNING_KEY="sig_5ZB6DVzB1wjE8S6rZ7eenA8Pdnhs"
QSTASH_DEV=true

# production envs
# NODE_ENV=production
# NEXT_PUBLIC_SITE_URL=
# BETTER_AUTH_URL=
# BETTER_AUTH_SECRET=
# DATABASE_URL=
# REDIS_REST_URL=
# REDIS_REST_TOKEN=
# MAIL_FROM=
# SUPPORT_MAIL=
# NEXT_PUBLIC_SUPABASE_URL=
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
# SUPABASE_SECRET_KEY=
# QSTASH_URL=
# QSTASH_TOKEN=
# QSTASH_CURRENT_SIGNING_KEY=
# QSTASH_NEXT_SIGNING_KEY=

# text envs
# NODE_ENV=test
# DATABASE_URL="postgresql://postgres:postgres@localhost:54322/postgres"
# REDIS_REST_URL="http://localhost:8079"
# REDIS_REST_TOKEN="local_redis_token"
# MAIL_FROM=
# SUPPORT_MAIL=
# NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
# NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
# SUPABASE_SECRET_KEY=
# QSTASH_URL="http://127.0.0.1:8080"
# QSTASH_TOKEN="eyJVc2VySUQiOiJkZWZhdWx0VXNlciIsIlBhc3N3b3JkIjoiZGVmYXVsdFBhc3N3b3JkIn0="
# QSTASH_CURRENT_SIGNING_KEY="sig_7kYjw48mhY7kAjqNGcy6cr29RJ6r"
# QSTASH_NEXT_SIGNING_KEY="sig_5ZB6DVzB1wjE8S6rZ7eenA8Pdnhs"
# QSTASH_DEV=true