NODE_ENV=production

NEXT_PUBLIC_SITE_URL=

BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

DATABASE_URL=

REDIS_REST_URL=
REDIS_REST_TOKEN=

MAIL_FROM=
SUPPORT_MAIL=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SECRET_KEY=

QSTASH_URL=
QSTASH_TOKEN=
QSTASH_CURRENT_SIGNING_KEY=
QSTASH_NEXT_SIGNING_KEY=