NODE_ENV=development

NEXT_PUBLIC_SITE_URL="http://localhost:3000"

BETTER_AUTH_URL="http://localhost:3000"
BETTER_AUTH_SECRET=2iCgC4yejXcm6kOzUMgGFYT15nlpPWTO

DATABASE_URL="postgresql://postgres:postgres@localhost:54322/postgres"

REDIS_REST_URL="http://localhost:8079"
REDIS_REST_TOKEN="local_redis_token"

MAIL_FROM="info@smartservice.com"
SUPPORT_MAIL="help@smart-service.com"

NEXT_PUBLIC_SUPABASE_URL="http://127.0.0.1:54321"
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=
SUPABASE_SECRET_KEY=

QSTASH_URL="http://127.0.0.1:8080"
QSTASH_TOKEN="eyJVc2VySUQiOiJkZWZhdWx0VXNlciIsIlBhc3N3b3JkIjoiZGVmYXVsdFBhc3N3b3JkIn0="
QSTASH_CURRENT_SIGNING_KEY="sig_7kYjw48mhY7kAjqNGcy6cr29RJ6r"
QSTASH_NEXT_SIGNING_KEY="sig_5ZB6DVzB1wjE8S6rZ7eenA8Pdnhs"