# development envs
SRH_MODE=env
SRH_TOKEN="local_redis_token"
SRH_CONNECTION_STRING="redis://default:12345678@redis:6379"
DATABASE_URL="postgresql://postgres:postgres@127.0.0.1:54322/postgres"
SUPABASE_URL="http://127.0.0.1:54321"
SUPABASE_SECRET_KEY=

# production envs
# DATABASE_URL=